
.first_left{
    margin-top: -50px;
    opacity: 0.7;
}
.plus_icon{
    color: rgb(255, 0, 93); 
    font-size: 40px;
    font-weight:bolder;
    margin-bottom: -50px;
    margin-left: -180px;
}
.header{
    
    background-color: black;
    /* height: 120px;
    width: 300px; */
    color: white;
    text-align: center;
    padding: 10px;
}

 .header_2{
    background-image: url('./main.png');
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    /* height: 100%;
    width: 100%; */
} 
.img_text p{
    font-weight: bold;
    font-size: 115px;
    color:white;
    margin-top: -40rem;
    margin-left: 150px;
}
.templet {
    /* background-color: rgba(23, 23, 245, 0.585); */
    box-sizing: border-box;
    font-size: 40px;
    font-weight: bold;
    color: white;
    
}
.about{
    margin-left: 70px;
    display: flex;
}
.line{
    border-left: 10px #ff008c solid;
    height: 150px;
    width: 50px;
    margin-top: 90px;
    margin-left: -200px;

}
.dote{
    margin-top: -60px;
    margin-left: 690px;
}
.right_text{
    text-align: left;
    margin-top: 90px;
    font-size: 30px;
    margin-left: 120px;
    font-style: italic;

}
.chat{
    margin-left: 70px;

}
.reply{
    font-size: 20px;
    margin-left: 70px;
    font-weight: bolder;
}
.quick{
    font-size: 15px;
    font-weight: 600;
    color: rgb(255, 0, 132);
    margin-left: 70px;
    margin-top: -20px;
}
.paragrph{
    margin-left: 70px;
}

.footer1{
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-left: 70px;
}
.border{
    border: 10px solid white;
    width: 40px;
    margin-left: 150px;
    margin-bottom: 50px    ;
}
.business{
    color: gray;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    padding: 50px;
    z-index: -5;
}
 
.business{
    color: rgba(255, 255, 255, 0.451);
    font-size: 200%;
    margin-right: 200%;
    /* margin-top:  */
}
.its{
    margin-top: -21%;
    margin-left: 50px;

}
.core{
    margin-left:50px ;
}
.temp{
    margin-left: 50px;
}
.create{
    padding: 20px;
    font-size: 20px;
} 
.hr1{
    border: 5px solid white;
    width: 50px;
    margin-left: 55px;
}
.hr2{
    border: 5px solid white;
    width: 30px;
    margin-left: 55px;
}
.hr3{
    border: 5px solid white;
    width: 10px;
    margin-left: 55px;
}
.footer_hr3{
    padding-top: 8px;
    margin-top: 50px;
    font-size: medium;
}
.pink_line{
    border: 5px rgb(255, 0, 119) solid;
    width: 30px;
    margin-left: 270px;
    margin-top: -30px;
}